<div class='flex-container'>

  <div class='left-column'>
    <form [formGroup]="ameInitialCommsForm" class="md-form form-sm">

      <div class='form-group'>
        <input type="text" 
               (focusout)="GetIncedentData($event)"
               (keypress)="onlyNumber($event)" 
               name="id"
               formControlName="id" 
               class="form-control" 
               placeholder="ICM Number...">
        <span class="help-block" *ngIf="((ameInitialCommsForm.get('id').touched ||
                                                                        ameInitialCommsForm.get('id').dirty) &&
                                                                        ameInitialCommsForm.get('id').errors)">
          <small class="help-block" class="text-danger" *ngIf="ameInitialCommsForm.get('id').errors.required">
            * ICM Number is required.
          </small>
        </span>
      </div>

      <div class='form-group'>
        <input type="text" name="customername" formControlName="customername" class="form-control"
          placeholder="Customer Name" readonly=true>
      </div>

      <div class='form-group'>
        <select name="type" formControlName="type" class="form-control" placeholder="TYPE">
          <option *ngFor="let types of alerttypes">
            {{types}}
          </option>
        </select>
      </div>

      <div class='form-group'>
        <input type="text" name="subject" formControlName="subject" class="form-control" placeholder="Subject">
      </div>

      <div class='form-group'>
        <textarea name="issuedef" formControlName="issuedef" class="form-control txtarea"
          placeholder="Issue Definition"></textarea>
      </div>

      <div class='form-group'>
        <textarea name="status" formControlName="status" class="form-control" placeholder="Current Status"></textarea>
      </div>

      <div class='form-group'>
        <textarea name="action" formControlName="action" class="form-control" placeholder="Next Action"></textarea>
      </div>

    </form>
  </div>

  <div class='right-column'>
    <app-comms-initial-template [id]="this.ameInitialCommsForm.get('id').value"
                                [issuedef]="this.ameInitialCommsForm.get('issuedef').value" 
                                [status]="this.ameInitialCommsForm.get('status').value"
                                [action]="this.ameInitialCommsForm.get('action').value"
                                [type]="this.ameInitialCommsForm.get('type').value"
                                [subject]="this.ameInitialCommsForm.get('subject').value" 
                                [customername]="this.ameInitialCommsForm.get('customername').value">
    </app-comms-initial-template>
  </div>

</div>